@font-face {
	font-family: Poppins;
	src: url("fonts/Poppins-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Kano;
	src: url("fonts/Kano.ttf");
	font-weight: normal;
}

.about-us-template .header {
	text-align: center;
	background-color: #ebebeb;
	padding: 40px 0;
	border-bottom: solid 10px #debf57;
}

.about-us-template .header h1 {
	font-size: 60px;
	margin: 10px 0;
}

.about-us-template .header p {
	max-width: 500px;
	margin: 0 auto;
}

.about-us-template .about-section-1,
.about-us-template .about-section-2 {
	padding: 20px 0;
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .about-section-1,
	.about-us-template .about-section-2 {
		padding: 20px 40px;
		flex-direction: column;
		width: 100%;
	}
}

.about-us-template .about-section-1 h2,
.about-us-template .about-section-2 h2 {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 0;
}

.about-us-template .about-section-1 p,
.about-us-template .about-section-2 p {
	margin-top: 5px;
}

.about-us-template .about-section-1 .content-wrapper,
.about-us-template .about-section-2 .content-wrapper {
	flex: 1;
}

@media screen and (max-width: 1074px) {
	.about-us-template .about-section-1 .content-wrapper,
	.about-us-template .about-section-2 .content-wrapper {
		width: 100%;
		padding: 0;
	}
}

.about-us-template .about-section-1 .img-wrapper,
.about-us-template .about-section-2 .img-wrapper {
	width: 300px;
	position: relative;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.about-us-template .about-section-1 .img-wrapper img,
.about-us-template .about-section-2 .img-wrapper img {
	border-radius: 25px;
	width: 100%;
}

.about-us-template .about-section-1 .img-wrapper .img-caption,
.about-us-template .about-section-2 .img-wrapper .img-caption {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	font-size: 10px;
}

.about-us-template .about-section-1 .content-wrapper {
	padding-right: 50px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .about-section-1 .content-wrapper {
		padding-right: 0;
	}
}

.about-us-template .about-section-2 {
	margin-bottom: 40px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .about-section-2 {
		flex-direction: column-reverse;
	}
}

.about-us-template .about-section-2 .content-wrapper {
	padding-left: 50px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .about-section-2 .content-wrapper {
		padding-left: 0;
	}
}

.about-us-template .huzoor-section {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 40px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .huzoor-section {
		width: 100%;
		padding: 20px 40px;
		margin-bottom: 20px;
	}
}

.about-us-template .huzoor-section h1 {
	margin-bottom: 0;
}

.about-us-template .huzoor-section .sub-header {
	margin-top: 5px;
	margin-bottom: 40px;
}

.about-us-template .huzoor-section .content-wrapper {
	flex-wrap: wrap;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.about-us-template .huzoor-section .content-wrapper {
		display: block;
	}
}

.about-us-template .huzoor-section .content-wrapper .details-wrapper {
	flex: 2;
	padding-right: 40px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .huzoor-section .content-wrapper .details-wrapper {
		flex: 1;
	}
}

@media screen and (max-width: 768px) {
	.about-us-template .huzoor-section .content-wrapper .details-wrapper {
		padding-right: 0;
	}
}

.about-us-template .huzoor-section .content-wrapper .details-wrapper p:first-child {
	margin-top: 0;
}

.about-us-template .huzoor-section .content-wrapper .img-wrapper {
	position: relative;
	width: 40%;
}

.about-us-template .huzoor-section .content-wrapper .img-wrapper img {
	border-radius: 25px;
	width: 100%;
}

.about-us-template .huzoor-section .content-wrapper .img-wrapper .img-caption {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	font-size: 10px;
	width: 100%;
}

.about-us-template .huzoor-section .content-wrapper .img-one {
	float: right;
	margin-left: 25px;
	margin-bottom: 25px;
}

.about-us-template .huzoor-section .content-wrapper .img-two {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.about-us-template .huzoor-world-leaders-section {
	text-align: center;
	margin: 60px 0;
}

.about-us-template .huzoor-world-leaders-section .world-leaders {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.about-us-template .huzoor-world-leaders-section .world-leaders {
		display: block;
		padding: 20px 40px;
	}
}

.about-us-template .huzoor-world-leaders-section .world-leaders img {
	width: 25%;
	margin: 0 20px;
	border-radius: 25px;
}

@media screen and (max-width: 1074px) {
	.about-us-template .huzoor-world-leaders-section .world-leaders img {
		width: 40%;
		margin: 20px 20px;
	}
}

@media screen and (max-width: 768px) {
	.about-us-template .huzoor-world-leaders-section .world-leaders img {
		width: 100%;
		margin: 20px 0;
	}
}

/*# sourceMappingURL=about-us.css.map */