@font-face {
	font-family: Poppins;
	src: url("fonts/Poppins-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Kano;
	src: url("fonts/Kano.ttf");
	font-weight: normal;
}

.home-template {
	font-family: Poppins;
}

.home-template h1 {
	color: #debf57;
}

.home-template .fullsize-video-bg {
	position: relative;
	max-height: calc(100vh - 100px);
	z-index: -1;
}

.home-template .fullsize-video-bg .black-bg {
	z-index: -2;
	background-color: #000;
	height: 100%;
	width: 100%;
	position: absolute;
}

.home-template .fullsize-video-bg .banner-content {
	display: flex;
	overflow: hidden;
	border-right: 5px solid #debf57;
	border-left: 5px solid #debf57;
	border-bottom: 5px solid #debf57;
	z-index: -2;
	padding-left: 20px;
}

.home-template .fullsize-video-bg .banner-content .header-wrapper {
	width: 50%;
	left: 40px;
	align-self: center;
	justify-self: center;
	background-color: #000;
	transform: translate(30px, 0);
}

.home-template .fullsize-video-bg .banner-content .header-wrapper h1 {
	font-size: 60px;
}

@media screen and (max-width: 1024px) {
	.home-template .fullsize-video-bg .banner-content .header-wrapper h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 768px) {
	.home-template .fullsize-video-bg .banner-content .header-wrapper h1 {
		font-size: 20px;
	}
}

.home-template .fullsize-video-bg .banner-content .triangle-down {
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	position: relative;
	left: 100px;
	border-top: 610px solid #000;
}

.home-template .fullsize-video-bg #videoBG {
	z-index: -1;
	transform: translate(25%, 0px);
}

.home-template .fullsize-video-bg .slideshow-wrapper {
	width: 50%;
	z-index: -2;
	text-align: right;
	justify-content: left;
	display: flex;
	position: relative;
}

.home-template .fullsize-video-bg .slideshow-wrapper .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.home-template .fullsize-video-bg .slideshow-wrapper .img-1,
.home-template .fullsize-video-bg .slideshow-wrapper .img-2,
.home-template .fullsize-video-bg .slideshow-wrapper .img-3,
.home-template .fullsize-video-bg .slideshow-wrapper .img-4,
.home-template .fullsize-video-bg .slideshow-wrapper .img-5 {
	display: none;
	opacity: 0;
}

.home-template .section-1,
.home-template .section-2 {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 80px auto;
	align-items: center;
	position: relative;
	border: 5px solid #debf57;
}

.home-template .section-1 h1,
.home-template .section-2 h1 {
	color: black;
}

.home-template .section-1 .content-wrapper,
.home-template .section-2 .content-wrapper {
	padding: 0 70px;
	flex: 1;
	position: relative;
	z-index: 1;
	min-width: 350px;
}

.home-template .section-1 .content-wrapper .header-wrapper,
.home-template .section-2 .content-wrapper .header-wrapper {
	position: relative;
	display: inline-block;
}

.home-template .section-1 .content-wrapper .header-wrapper .animated-bg-content,
.home-template .section-2 .content-wrapper .header-wrapper .animated-bg-content {
	opacity: 0;
	transform: translate(0, 10px);
	width: 50%;
	height: 5px;
	bottom: 15px;
	background-color: #debf57;
	position: absolute;
	z-index: -1;
}

.home-template .section-1 .img-wrapper,
.home-template .section-2 .img-wrapper {
	width: 600px;
	position: relative;
	opacity: 0;
}

@media screen and (max-width: 675px) {
	.home-template .section-1 .img-wrapper,
	.home-template .section-2 .img-wrapper {
		height: auto !important;
	}
}

.home-template .section-1 img,
.home-template .section-2 img {
	width: 100%;
}

.home-template .section-1 .bg-pattern,
.home-template .section-2 .bg-pattern {
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -2;
}

.home-template .section-1 .content-overlay,
.home-template .section-2 .content-overlay {
	top: 0;
	left: 0;
	position: absolute;
	background-color: #fff;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.home-template .section-1 .animated-bg-img,
.home-template .section-2 .animated-bg-img {
	width: 100%;
	height: 100%;
	background-color: #debf57;
	position: absolute;
	z-index: 0;
}

.home-template .section-1 .img-wrapper {
	height: 522px;
}

.home-template .section-1 .bg-pattern {
	top: 0;
	right: 0;
}

.home-template .section-2 {
	justify-content: flex-end;
}

.home-template .section-2 .img-wrapper {
	height: 555px;
}

.home-template .section-2 .bg-pattern {
	top: 0;
	left: 0;
}

.home-template .previous-winners {
	text-align: center;
	background-color: #000;
	color: #fff;
	padding: 100px 0;
}

.home-template .previous-winners ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.home-template .previous-winners ul li {
	display: inline-block;
	padding: 0 5px;
	color: #4b4949;
	cursor: pointer;
}

.home-template .previous-winners ul li.active {
	color: #debf57;
	font-weight: 600;
}

.home-template .previous-winners .winners {
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
}

.home-template .previous-winners .winner-wrapper {
	opacity: 0;
	text-align: left;
	max-width: 70%;
	justify-content: space-evenly;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0;
	border: 5px solid #debf57;
	position: relative;
}

.home-template .previous-winners .winner-wrapper img {
	object-fit: contain;
}

.home-template .previous-winners .winner-wrapper .winner-year {
	display: flex;
	position: absolute;
	width: 90%;
	opacity: 0;
	flex-wrap: wrap;
	word-break: break-word;
}

@media screen and (max-width: 1150px) {
	.home-template .previous-winners .winner-wrapper .winner-year {
		display: block;
	}
}

.home-template .previous-winners .winner-wrapper .winner-details {
	padding: 0 0 0 40px;
	flex: 1;
}

@media screen and (max-width: 1150px) {
	.home-template .previous-winners .winner-wrapper .winner-details {
		padding: 0;
	}
}

.home-template .previous-winners .winner-wrapper .winner-details h2 {
	font-size: 48px;
	margin: 0;
	color: #debf57;
}

@media screen and (max-width: 400px) {
	.home-template .previous-winners .winner-wrapper .winner-details h2 {
		font-size: 36px;
	}
}

.home-template .previous-winners .winner-wrapper .winner-details h4 {
	font-size: 18px;
	font-style: italic;
	margin: 0;
	margin-bottom: 30px;
	color: #debf57;
}

.home-template .previous-winners .winner-wrapper .winner-details h3 {
	position: absolute;
	transform: rotate(90deg);
	bottom: 0;
	right: 0;
	font-size: 200px;
	width: 260px;
	word-break: break-word;
	margin: 0;
	line-height: 200px;
	color: black;
	z-index: -1;
}

.home-template .previous-winners .winner-wrapper .winner-details p {
	position: relative;
}

.home-template .previous-winners .winner-wrapper .winner-details a {
	color: white;
}

.home-template .previous-winners .winner-wrapper .winner-details a button {
	background: #debf57;
	padding: 10px;
	width: 150px;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
	font-size: 16px;
	font-weight: 600;
}

.home-template .previous-winners .winner-wrapper .winner-details .small-header {
	font-size: 40px;
}

@media screen and (max-width: 400px) {
	.home-template .previous-winners .winner-wrapper .winner-details .small-header {
		font-size: 36px;
	}
}

.home-template .nominate-section {
	display: flex;
	flex-wrap: wrap;
	background-color: #debf57;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.home-template .nominate-section h1 {
	color: white;
}

.home-template .nominate-section button {
	background: #000;
	padding: 10px;
	width: 150px;
	color: #fff;
	border: none;
	cursor: pointer;
	outline: inherit;
	font-size: 16px;
	font-weight: 600;
}

/*# sourceMappingURL=home.css.map */