@font-face {
	font-family: Poppins;
	src: url("fonts/Poppins-Regular.ttf");
	font-weight: normal;
}

.previous-winners-template {
	background-color: black;
	color: #debf57;
	overflow: hidden;
}

.previous-winners-template .header {
	color: #debf57;
	text-align: center;
	font-size: 70px;
}

.previous-winners-template .sub-header {
	font-size: 18px;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
	color: white;
}

@media screen and (max-width: 796px) {
	.previous-winners-template .sub-header {
		padding: 40px;
	}
}

.previous-winners-template .previous-winners-wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.previous-winners-template .previous-winners-wrapper .winners {
	flex: 1;
}

.previous-winners-template .previous-winners-wrapper .prev-winner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .prev-winner {
		padding: 40px;
		display: block;
	}
}

.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-image {
	width: 48%;
	text-align: right;
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-image {
		width: 100%;
		text-align: left;
	}
}

.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-marker {
	position: absolute;
	top: 50%;
	left: calc((100% - 21px) / 2);
	width: 21px;
	height: 21px;
	border: 4px solid #474747;
	border-radius: 21px;
	background-color: black;
	z-index: 2;
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-marker {
		left: 4px;
	}
}

.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-details {
	width: 48%;
	padding-right: 15%;
	align-self: center;
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-details {
		width: 100%;
		padding: 0;
	}
}

.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-details p {
	margin: 0;
}

.previous-winners-template .previous-winners-wrapper .prev-winner .prev-winner-details h2 {
	margin-top: 0;
}

.previous-winners-template .previous-winners-wrapper .timeline-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.previous-winners-template .previous-winners-wrapper .timeline-wrapper .timeline {
	width: 4px;
	height: 100%;
	background-color: #474747;
	position: absolute;
	left: calc((100% - 4px) / 2);
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .timeline-wrapper .timeline {
		left: 12px;
	}
}

.previous-winners-template .previous-winners-wrapper .timeline-wrapper .timeline-2 {
	height: 0px;
	z-index: 2;
	background-color: #debf57;
	transition: height 500ms ease-out 0s;
	transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 796px) {
	.previous-winners-template .previous-winners-wrapper .timeline-wrapper .timeline-2 {
		left: 0;
	}
}

/*# sourceMappingURL=previous-winners.css.map */