@import 'theme';

.about-us-template {
  .header {
    text-align: center;
    background-color: #ebebeb;
    padding: 40px 0;
    border-bottom: solid 10px $primary-gold;

    h1 {
      font-size: 60px;
      margin: 10px 0;
    }

    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .about-section-1,
  .about-section-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 120px;

    @media screen and (max-width: 1024px) {
      padding: 20px 40px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .content-wrapper {
      padding: 0 50px;
      flex: 1;

      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0;
        padding-right: 50px;
      }

      @media screen and (max-width: 768px) {
        padding-right: 0;
      }
    }

    .img-wrapper {
      width: 300px;
      position: relative;

      img {
        border-radius: 25px;
        width: 100%;
      }

      .img-caption {
        background-color: $primary-gold;
        padding: 10px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }

  .about-section-2 {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    .content-wrapper {
      padding-left: 50px;

      @media screen and (max-width: 768px) {
        padding-left: 0;
      }
    }
  }

  .huzoor-section {
    padding: 20px 120px;
    text-align: center;

    @media screen and (max-width: 1024px) {
      padding: 20px 40px;
      margin-bottom: 20px;
    }

    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      text-align: left;

      @media screen and (max-width: 768px) {
        display: block;
      }

      .details-wrapper {
        flex: 2;
        padding-right: 40px;

        @media screen and (max-width: 1024px) {
          flex: 1;
        }

        @media screen and (max-width: 768px) {
          padding-right: 0;
        }

        p:first-child {
          margin-top: 0;
        }
      }

      .images-wrapper {
        flex: 1;
        .img-wrapper {
          position: relative;
          margin-bottom: 40px;

          img {
            border-radius: 25px;
            width: 100%;
          }

          .img-caption {
            background-color: $primary-gold;
            padding: 10px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            position: absolute;
            bottom: -10px;
            text-align: center;
            font-size: 10px;
            width: 100%;
          }
        }
      }
    }
  }

  .huzoor-world-leaders-section {
    text-align: center;

    .world-leaders {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (max-width: 768px) {
        display: block;
        padding: 20px 40px;
      }

      img {
        width: 25%;
        margin: 0 20px;
        border-radius: 25px;

        @media screen and (max-width: 1024px) {
          width: 40%;
          margin: 20px 20px;
        }
  

        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 20px 0;
        }
      }
    }
  }
}
