@import 'theme';

.site-header {
  background-color: #000;
  padding: 20px;

  @media screen and (max-width: 500px) {
      text-align: center;
  }

  .mobile-nav {
    background-color: #000;
    color: $primary-gold;
    border: none;
    margin: 0 auto;
    display: none;
    font-size: 24px;

    @media screen and (max-width: 500px) {
      display: block;
      opacity: 1;
      margin: 10px;
    }
  }

  .navbar {
    display: flex;
    background-color: #000;
    justify-content: space-evenly;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(222, 191, 87, 0.3);
    
    @media screen and (max-width: 968px) {
      align-items: center;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      display: none;
      height: 0;
      opacity: 0;
      justify-content: flex-start;
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }

    p {
      color: $primary-gold;
      margin: 16px 0;
      width: 150px;
      @media screen and (max-width: 968px) {
        width: 75px;
        text-align: center;
      }

      @media screen and (max-width: 500px) {
        width: auto;
        margin: 16px auto;
      }

      &:hover {
        color: white;
      }
    }

    .site-logo {
      position: relative;
      width: 200px;
      height: auto;
      top: -22px;

      @media screen and (max-width: 968px) {
        top: -42px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }

      img {
        width: 150px;
        position: absolute;
      }

      .image-1 {
        width: 200px;
        height: auto;
      }

      .image-2 {
        width: 100px;
        left: 50px;
        top: 10px;
      }
    }
  }
}
