@import 'theme';
$section: #ffe796;

.home-template {
  font-family: Poppins;

  h1 {
    color: $logo-text-brown;
  }

  // .home-body {
  //   position: relative;

  //   .bg-pattern {
  //     position: absolute;
  //     top: 50%;
  //     right: 0;
  //     width: 300px;
  //     opacity: 0.2;
  //   }
  // }

  .fullsize-video-bg {
    position: relative;
    // max-height: 600px;
    // max-height: calc(100vh - 100px);
    z-index: -1;

    .banner-content {
      display: flex;
      overflow: hidden;
      border-right: 6px solid $logo-text-brown;
      border-left: 6px solid $logo-text-brown;
      border-bottom: 6px solid $logo-text-brown;
      z-index: -2;
      // padding-left: 20px;
      justify-content: space-between;
      background-color: $logo-beige;

      .header-wrapper {
        // position: absolute;
        flex: 1;
        align-self: center;
        justify-self: center;
        // background-color: $logo-beige;
        padding: 0 30px;
        padding-left: 60px;
        color: #000;

        @media screen and (max-width: 550px) {
          padding-left: 20px;
        }

        h1 {
          font-size: 60px;

          @media screen and (max-width: 1024px) {
            font-size: 40px;
          }

          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
        }

        .subheader {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: 450px) {
            display: none;
          }

          h2 {
            padding-right: 20px;

            @media screen and (max-width: 1024px) {
              font-size: 24px;
            }
  
            @media screen and (max-width: 768px) {
              font-size: 16px;
            }
          }

          img {
            width: 20%;
            // border-radius: 100%;
            opacity: 0;
            display: none;
          }
        }
      }
    }

    .slideshow-wrapper {
      // z-index: -2;
      text-align: right;
      justify-content: flex-end;
      display: flex;
      position: relative;
      max-width: 50%;
      // height: 647px;
      // max-height: 680px;

      @media screen and (max-width: 450px) {
        display: none;
      }

      // border-top: solid 5px $logo-text-brown;
      // border-left: solid 5px $logo-text-brown;

      // .overlay {
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   background-color: rgba(0, 0, 0, 0.5);
      //   z-index: 2;
      // }

      .img-1,
      .img-2,
      .img-3,
      .img-4,
      .img-5 {
        display: none;
        opacity: 0;
        // max-width: 695px;
        max-height: 680px;
        // width: auto;
        height: auto;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .section-1,
  .section-2 {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    // padding: 40px 20px;
    // margin: 80px 80px;
    margin: 80px auto;
    // justify-content: center;
    align-items: center;
    position: relative;
    border: 6px solid $logo-text-brown;

    // @media screen and (max-width: 1160px) {
    //   background-color: $section;
    // }

    // @media screen and (max-width: 1024px) {
    //   padding: 20px 40px;
    //   margin-bottom: 20px;
    // }

    h1 {
      color: $logo-text-brown;
    }

    .content-wrapper {
      padding: 0 70px;
      // width: 40%;
      flex: 1;
      position: relative;
      z-index: 1;
      min-width: 350px;

      // @media screen and (max-width: 1160px) {
      //   padding: 0;
      //   width: 80%;
      // }

      // @media screen and (max-width: 1024px) {
      //   width: 100%;
      //   padding: 0;
      // }

      .header-wrapper {
        position: relative;
        display: inline-block;

        .animated-bg-content {
          opacity: 0;
          transform: translate(0, 10px);
          width: 50%;
          height: 5px;
          bottom: 15px;
          background-color: $logo-text-brown;
          position: absolute;
          z-index: -1;
        }
      }
    }

    .img-wrapper {
      width: 600px;
      position: relative;
      opacity: 0;
      transform: scale(1.003);

      @media screen and (max-width: 675px) {
        height: auto !important;
      }
    }

    img {
      width: 100%;
    }

    // .bg-circle {
    //   position: absolute;
    //   z-index: -1;
    //   width: 500px;
    // }

    .bg-pattern {
      background-position: center;
      background-repeat: repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      // right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      z-index: -2;
    }

    .content-overlay {
      top: 0;
      left: 0;
      position: absolute;
      background-color: #fff;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    .animated-bg-img {
      width: 100%;
      height: 100%;
      background-color: $logo-text-brown;
      position: absolute;
      z-index: 0;
    }
  }

  .section-1 {
    .img-wrapper {
      height: 522px;
    }

    .bg-pattern {
      top: 0;
      right: 0;
    }
  }

  .section-2 {
    justify-content: flex-end;

    .img-wrapper {
      height: 555px;
    }

    .bg-pattern {
      top: 0;
      left: 0;
    }
  }

  .previous-winners {
    text-align: center;
    background-color: $logo-beige;
    color: #000;
    padding: 100px 0;

    h1 {
      opacity: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
      opacity: 0;

      li {
        display: inline-block;
        padding: 0 5px;
        color: #4b4949;
        cursor: pointer;
      }

      li.active {
        color: $logo-text-brown;
        font-weight: 600;
      }
    }

    .winners {
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
    }

    .winner-wrapper {
      opacity: 0;
      text-align: left;
      // backdrop-filter: blur(6px);
      max-width: 70%;
      justify-content: space-evenly;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      // background-color: rgba(255, 255, 255, 0.15);
      padding: 40px 0;
      // border-radius: 25px;
      border: 5px solid $logo-text-brown;
      position: relative;

      img {
        object-fit: contain;
        // border-radius: 25px;
      }

      .winner-year {
        display: flex;
        position: absolute;
        width: 90%;
        opacity: 0;
        flex-wrap: wrap;
        word-break: break-word;

        @media screen and (max-width: 1150px) {
          display: block;
        }
      }

      .winner-details {
        padding: 0 0 0 40px;
        flex: 1;

        @media screen and (max-width: 1150px) {
          padding: 0;
        }

        h2 {
          font-size: 48px;
          margin: 0;
          color: $logo-text-brown;

          @media screen and (max-width: 400px) {
            font-size: 36px;
          }
        }

        h4 {
          font-size: 18px;
          font-style: italic;
          margin: 0;
          margin-bottom: 30px;
          color: $logo-text-brown;
        }

        h3 {
          position: absolute;
          transform: rotate(90deg);
          bottom: 0;
          right: 0;
          font-size: 200px;
          width: 260px;
          word-break: break-word;
          margin: 0;
          line-height: 200px;
          color: $logo-text-brown;
          z-index: -1;
        }

        p {
          position: relative;
        }

        a {
          color: white;
          button {
            background: $logo-text-brown;
            padding: 10px;
            width: 150px;
            color: inherit;
            border: none;
            cursor: pointer;
            outline: inherit;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .small-header {
          font-size: 40px;

          @media screen and (max-width: 400px) {
            font-size: 36px;
          }
        }
      }
    }
  }

  .nominate-section {
    display: flex;
    flex-wrap: wrap;
    background-color: $logo-text-brown;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    h1 {
      color: white;
      opacity: 0;
    }

    button {
      background: #000;
      padding: 10px;
      width: 150px;
      color: #fff;
      border: none;
      cursor: pointer;
      outline: inherit;
      font-size: 16px;
      font-weight: 600;
      opacity: 0;
    }
  }
}
