@import 'theme';

.nominate-winner-template {
  .header {
    text-align: center;
    background-color: #ebebeb;
    padding: 40px 0;
    border-bottom: solid 10px $primary-gold;

    h1 {
      font-size: 60px;
      margin: 10px 0;
    }

    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .criteria-content {
    width: 70%;
    margin: 0 auto;
  }

  .dropdown-wrapper {
    background-color: black;
    padding: 5px 40px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;

    h2 {
      color: $primary-gold;
      margin: 5px 0;
      font-size: 20px;
    }

    .dropdown-content {
      height: 0;
      overflow: hidden;
    }
  }

  .nomination-form {
    margin-top: 40px;

    h2 {
      text-align: center;
    }
  }
}
