@import "theme";

.nominate-winner-template {
  .header {
    text-align: center;
    background-color: $logo-beige;
    padding: 40px 0;
    border: solid 6px $logo-text-brown;
    border-top: none;

    h1 {
      font-size: 60px;
      margin: 10px 0;
    }

    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .criteria-section {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;

    @media screen and (max-width: 1074px) {
      padding: 20px 40px;
      flex-direction: column;
      width: 100%;
    }
  }
}
